body {
    background:linear-gradient(225deg, #FFE000 0%, Red 100%)
}

#snapshot{
    border-width:4.30px;
    border-style: ridge;
    border-color: orange;
    height:250px;
    width:250px;
}

#captured{
    border-style: ridge;
    border-color: orange;
    height:250px;
    width:250px;
}